PITCREW_DASHBOARD_VERSION=0.2.0
PITCREW_DASHBOARD_DOMAIN=pitcrew.example.com
PITCREW_GITHUB_CLIENT_ID=
PITCREW_GITHUB_CLIENT_SECRET=
PITCREW_SYSTEM_ADMIN_GITHUB_ID=
PITCREW_CLOUDFLARE_TUNNEL_TOKEN_FILE=./secrets/cloudflare-tunnel-token
